body {
  background-color: lightyellow;
}

h1 {
  text-align: center;
  border-bottom: #dcf442 solid 1px;
}

ul {
  padding: 10px;
  margin: 20px;
  border: white solid 1px;
  border-radius: 5px;
}
button {
  border-radius: 10px;
  height: 20px;

}

form {
  background-color: #dcf442;
  padding: 10px;
}

p{
  padding: 10px;
  background: lightyellow;
  border-radius: 5px;
  border: white solid 2px;
  margin: 10px;
  margin-bottom: 10px;
}
