body {
  margin: 0 0;
  font-family: sans-serif;
  font-size: 18px;
  /* height:100%; */
  /* background: linear-gradient(to top, #0083B0, #00B4DB) fixed; */
  background: url("https://image.freepik.com/free-photo/blank-spiral-notepad-and-pencil-on-wood-background_1373-148.jpg") no-repeat;
  background-size: cover;
}

div {
  /* background: linear-gradient(to top, #0083B0, #00B4DB); */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

ul {
  /* background-color: lightyellow; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  padding-inline-start: 0;
  align-items: center;
  /* justify-content: flex-end; */
  /* width:100%; */
  width: 800px;
}

li {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  /* width:80%; */
  width: 192px;
  height: 192px;
  margin: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

li:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

p {
  margin: 0 0;
  text-align: center;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  /* width: 100%; */
}

.todo {
  /* padding: 20%; */
  /* background-color: lime; */
  border-radius: 10px;
}

.todo:hover{
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  background-color: #ccc;
  border-radius: 0;
}

.remove {
  /* padding: 2%; */
  /* border-top-right-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
  /* background-color: red; */
  /* margin-left: 5px; */
  margin: 10px 0;
  background: linear-gradient(to top, #93291E, #ED213A);
  color:rgba(255,255,255, 0.8);
}

.err{
  margin-left: 20px;
}

form {
  display: flex;
}

input {
  font-size: 18px;
}

button {
  /* form>button { */
  background: linear-gradient(to left, #78ffd6, #a8ff78);
  border-radius: 50%;
  padding: 10px;
  transform: scale(1.5);
  /* font-size: 24px; */
  /* margin-left: 5px; */
}

li>button{
  border-radius: 4px;
}

button:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
