#submit {
  width: 250px;
  font-size: 20px;
}
#things {
  width: 300px;
  height: 22px;
  font-size: 20px;
}
li {
  font-size: 25px;
  color: blue;
  margin: 12px;
}

#error {
  font-size: 20px;
  font-family: monospace;
  color: red;
}
